*.java text eol=lf
*.tab text eol=lf
*.tdf text eol=lf
*.tpf text eol=lf
sku.0/sys.server/compiled/game/script/ai/pet.java -text
sku.0/sys.server/compiled/game/script/library/innate.java -text
sku.0/sys.server/compiled/game/script/library/battlefield.java -text
sku.0/sys.server/compiled/game/script/item/trap/trap_base.java -text
sku.0/sys.server/compiled/game/script/library/transition.java -text
sku.0/sys.server/compiled/game/script/library/trial.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/gcw_supply_terminal.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/missions/dynamic/mission_escort_npc.java -text
sku.0/sys.server/compiled/game/script/library/metrics.java -text
sku.0/sys.server/compiled/game/script/npc/vendor/vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/theme_park/meatlump/mtp_vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/theme_park/dungeon/nova_orion_station/nova_orion_vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/player_structure.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/resource.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/crafting/armor/crafting_new_cybernetics_final.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/movement.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/datatables/faction_perk/hq/hq_point_values.tab -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/faction_perk/hq/loader.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/faction_perk/hq/planetary_base_register.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/gcw/gcw_parent_object.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/gcw/space/battle_spawner.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/holiday.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/collections/collection_gcw.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/gcw/pvp_region_bonus_controller.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/tangible/gcw/pvp_region_watcher.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/tangible/gcw/battlefield_terminal.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/tangible/gcw/battlefield_beacon.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/tangible/gcw/static_base/control_terminal.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/tangible/destructible/gcw_*.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/object/building/poi/gcw_scout_camp_entertainment.tpf -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/datatables/buildout/rori/rori_7_7.tab -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/guild.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/terminal_city.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/terminal_gcw_publish_gift.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/terminal_guild.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/player/player_guild.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/city/city_hall.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/datatables/pvp/force_rank_xp.tab -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/force_rank.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/jedi_trials.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/npc/faction_recruiter/player_recruiter.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/gcw/enclave_controller.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/gcw/player_force_rank.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/theme_park/jedi_trials/knight_trials.java -text whitespace=cr-at-eol
