*.java text eol=lf
*.tab text eol=lf
*.tdf text eol=lf
*.tpf text eol=lf
sku.0/sys.server/compiled/game/script/ai/pet.java -text
sku.0/sys.server/compiled/game/script/library/innate.java -text
sku.0/sys.server/compiled/game/script/library/battlefield.java -text
sku.0/sys.server/compiled/game/script/item/trap/trap_base.java -text
sku.0/sys.server/compiled/game/script/library/transition.java -text
sku.0/sys.server/compiled/game/script/systems/missions/dynamic/mission_escort_npc.java -text
sku.0/sys.server/compiled/game/script/library/metrics.java -text
sku.0/sys.server/compiled/game/script/npc/vendor/vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/theme_park/meatlump/mtp_vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/theme_park/dungeon/nova_orion_station/nova_orion_vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/player_structure.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/resource.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/systems/crafting/armor/crafting_new_cybernetics_final.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/terminal/vendor.java -text whitespace=cr-at-eol
sku.0/sys.server/compiled/game/script/library/movement.java -text whitespace=cr-at-eol
